body {
	background-color:grey;
}

table, td ,td{
	border: 1px solid black;
	border-collapse: collapse;	
}	
td.blå{
	background-color: blue;
}

tr:nth-child(n){
	background-color:blue;
}
tr:nth-child(2n){
	background-color:yellow;
}
tr:nth-child(3n){
	background-color:blue;
	
}
tr:nth-child(n+4){
	background-color: yellow;
} 
